name: CI moseiik
on:
    push:
        branches:
            - main
            - b-Hamid
jobs:
    build-and-test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                platform: [linux/amd64, linux/arm64]
        steps:
            - name: checkout code
              uses: actions/checkout@v3

            - name: Set up QEMU (ARM64 only)
              uses: docker/setup-qemu-action@v3
              with:
                 platforms: linux/arm64

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: ${{ matrix.platform }}
                  load: true
                  tags: moseiik-test
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
            - name: Run tests
              run: |
                docker run --rm --platform ${{ matrix.platform }} moseiik-test
              